<form [formGroup]="clientForm" class="form" novalidate (ngSubmit)="submit()">
  <h2 mat-dialog-title>Добавление клиента</h2>
  <mat-dialog-content class="form__content">
    <p>Пожалуйста, заполните данные о клиенте</p>
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input required matInput type="text" formControlName="name"/>
        <mat-hint class="error-hint" >
          @if(name?.touched && name?.errors?.['required']) {
            Имя не должно быть пустым
          }
          @if(name?.touched && name?.errors?.['pattern']) {
            Имя должно содержать только буквы
          }
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Тариф</mat-label>
        <mat-select required formControlName="rate">
          @for (rate of rates; track rate) {
          <mat-option [value]="rate.id">{{rate.value}}</mat-option>
          }
        </mat-select>
        <mat-hint class="error-hint" >
          @if(rate?.touched && rate?.errors?.['required']) {
            Тариф не должен быть пустым
          }
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Дата договора с клиентом</mat-label>
        <input required matInput  [matDatepicker]="picker" formControlName="activationDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint class="error-hint" >
          @if(activationDate?.touched && activationDate?.errors?.['logic']) {
            Дата не может быть позднее сегодняшней
          }
          @if(activationDate?.touched && activationDate?.errors?.['format']) {
            Неверный формат даты
          }
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Реферальная информация</mat-label>
        <input matInput formControlName="referralInfo" type="text"/>
      </mat-form-field>
      <mat-checkbox class="mb-22" color="primary" formControlName="hasTrialLesson">Записать на пробное занятие?</mat-checkbox>
      <mat-form-field>
        <mat-label>Телефон</mat-label>
        <input matInput
               prefix="+"
               [showMaskTyped]="true"
               mask="0 (000) 000 00 00"
               required
               formControlName="phone"
        />
        <mat-hint class="error-hint" >
          @if(phone?.touched && phone?.errors?.["mask"]) {
            Невалидный номер телефона
          }
          @if(phone?.touched && phone?.errors?.["required"]) {
            Номер телефона не должен быть пустым
          }
        </mat-hint>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="actions-wrapper" align="end">
    <button mat-flat-button color="primary" [disabled]="clientForm.invalid" type="submit">
      <mat-icon>save</mat-icon>Сохранить
    </button>
    <button mat-button color="warn" type="button" (click)="onNoClick()">Отмена</button>
  </mat-dialog-actions>
</form>
